<div class="gallery col-lg-6 col-md-12 col-sm-12 col-xs-12 mx-auto pt-5" data-aos="zoom-in" data-oas-offset="200">
    <h1 class="gallery-title">Result for your Search</h1>

</div>

<div class="container-fluid max-width:100%">
<div class="row w-auto" data-aos="zoom-out" data-oas-offset="200">
    <div class="col-lg-3 col-md-3  col-sm-12 pt-3"> <button class="btn btn-dark filter-button"
                                                            data-filter="cloths" style="width:100%">Cloths</button></div>
    <div class="col-lg-3 col-md-3  col-sm-12 pt-3"> <button class="btn btn-dark filter-button" data-filter="shoes"
                                                            style="width:100%">Shoes</button> </div>
    <div class="col-lg-3 col-md-3  col-sm-12 pt-3"> <button class="btn btn-dark filter-button"
                                                            data-filter="electric" style="width:100%">Electronics</button></div>
    <div class="col-lg-3 col-md-3  col-sm-12 pt-3"> <button class="btn btn-dark filter-button" data-filter="other"
                                                            style="width:100%">Accessories</button> </div>
</div>
</div>

