<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <p style="color:white" class="fs-1 uppercase"> <b> Premium CSS Partner</b> </p>
    <div class="d-flex">

        <div class="form-group mx-sm-2 mb-2">

            <label for="inputPassword2" class="sr-only pt-4">Search.. </label>
            <input type="text" class="form-control" id="Search" placeholder="Search" style="width:350px">
        </div>
        <button type="submit" class="btn btn-primary mb-2"> <i class="fa fa-search"> </i></button>
    </div>
</div>