<div class="container-fluid max-width:100%">
    <div class="row pt-4 ml-0">
        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter cloths">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/Mens2.png" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Mens Lining Tshirt</h4>
                        <p> Navy Blue and Black checked casual shirt, has a spread collar, </p>
                        <h6> <strong> Price = INR.899/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter cloths">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/Womens2.jpg" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Womans Plain Denim </h4>
                        <p> Blue dress Square neck  Short, puff sleev Above knee length in flared</p>
                        <h6> <strong> Price = INR.499/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter shoes">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/Shoes4.jpg" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Trendy Shoes</h4>
                        <p> Trendy Shoes with brilliant grip and water extracting </p>
                        <h6> <strong> Price = INR.999/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter shoes">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/Shoes3.jpg" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Mens Casual Shoes</h4>
                        <p> Mens Shoes with a color combination of black, white </p>
                        <h6> <strong> Price = INR.1200/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter electric">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/mob1.jpg" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Oppo A3s Smart Phone</h4>
                        <p> Oppo Smartphone with dual camera system, long lasting battery life </p>
                        <h6> <strong> Price = INR.1000/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product  </a>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter electric">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/Iphone-14.jfif" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Samsumg S20 FE</h4>
                        <p> 16.55cm (6.5") HD+ screen with 90Hz super smooth scroll 50MP</p>
                        <h6> <strong> Price = INR.1000/-</strong></h6>

                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter other">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/glass1.jfif" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Dark Aqua Shades</h4>
                        <p> Light Weight Awesome finishing Glass Shades perfect for every outfit</p>
                        <h6> <strong> Price = INR.2500/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center filter other">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="Images/glass-2.jpg" class="img-thumb" alt="">
                    <div class="card-title pt-3">
                        <h4> Black Vintage Shades</h4>
                        <p> Perfect black finished Shades twinning  with your every outfit</p>
                        <h6> <strong> Price = INR.3000/-</strong></h6>
                        <a href="#" class="btn btn-primary w-100" style="text-align: center;">Go to Product </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
